BOT_TOKEN=8547595412:AAFBBMXogRFAT1LFx6FXFFssiNrj6kHxBdA
SUPER_ADMIN_6770531778,5514377047

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sorovnoma_bot
DB_USER=postgres
DB_PASSWORD=your_password

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
